.card__wrapper {
  padding: 60px 120px;
  display: grid;
  grid-template-columns: repeat(4, minmax(270px, auto));
  gap: 13px;
  grid-auto-columns: minmax(270px, auto);
}

.card__item {
  padding: 0 30px 30px 30px;
  border: black solid 1px;
  border-radius: 7px;
  position: relative;
}

.card__title {
  font-size: 22px;
  margin-bottom: 20px;
  text-align: center;
}

.card__img {
  width: calc(100% + 40px);
  transform: translateX(-20px);
  height: 240px;
  object-fit: cover;
  margin-bottom: 20px;
}

.card__category,
.card__price {
  font-size: 18px;
  font-weight: 300;
  margin-bottom: 10px;

  font-weight: 700;
}
